@import 'vuestic-sass/index';
@import 'icon-fonts/index';

@font-face {
    font-family: 'Gotham';
    font-weight: normal;
    font-style: normal;
    src: url('/src/scss/fonts/Gotham Book.otf') format('opentype');
  }

@font-face {
  font-family: 'OpenDyslexic';
  font-weight: normal;
  font-style: normal;
  src: url('/src/scss/fonts/OpenDyslexic-Regular.otf') format('opentype');
}
